<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamphoenix.ahub.member.query.mapper.MemberMapper">
    <resultMap id="memberResult" type="com.teamphoenix.ahub.member.query.dto.MemberDTO">
        <id property="memberCode" column="MEMBER_CODE"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="memberAddr" column="MEMBER_ADDR"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="blacklistStatus" column="BLACKLIST_STATUS"/>
        <result property="restrictStartDate" column="RESTRICT_START_DATE"/>
        <result property="restrictEndDate" column="RESTRICT_END_DATE"/>
        <result property="loginFailCount" column="LOGIN_FAIL_COUNT"/>
        <result property="accessAcceptancce" column="ACCESS_ACCEPTANCE"/>
        <result property="withdrawalAcceptance" column="WITHDRAWAL_ACCEPTANCE"/>
        <result property="memberCategoryId" column="MEMBER_CATEGORY_ID"/>
    </resultMap>
    <select id="selectAllMembers" resultMap="memberResult">
        SELECT
                MEMBER_CODE
              , MEMBER_ID
              , MEMBER_NAME
              , MEMBER_PWD
              , MEMBER_EMAIL
              , MEMBER_ADDR
              , MEMBER_PHONE
              , BLACKLIST_STATUS
              , RESTRICT_START_DATE
              , RESTRICT_END_DATE
              , LOGIN_FAIL_COUNT
              , ACCESS_ACCEPTANCE
              , WITHDRAWAL_ACCEPTANCE
              , MEMBER_CATEGORY_ID
        FROM MEMBERINFO
    </select>

    <select id="selectByMemberCode" resultMap="memberResult" parameterType="_int">
        SELECT
        MEMBER_CODE
        , MEMBER_ID
        , MEMBER_NAME
        , MEMBER_PWD
        , MEMBER_EMAIL
        , MEMBER_ADDR
        , MEMBER_PHONE
        , BLACKLIST_STATUS
        , RESTRICT_START_DATE
        , RESTRICT_END_DATE
        , LOGIN_FAIL_COUNT
        , ACCESS_ACCEPTANCE
        , WITHDRAWAL_ACCEPTANCE
        , MEMBER_CATEGORY_ID
        FROM MEMBERINFO
        WHERE MEMBER_CODE = #{ memberCode }
    </select>

    <select id="selectByMemberId" resultMap="memberResult" parameterType="String">
        SELECT
        MEMBER_CODE
        , MEMBER_ID
        , MEMBER_NAME
        , MEMBER_PWD
        , MEMBER_EMAIL
        , MEMBER_ADDR
        , MEMBER_PHONE
        , BLACKLIST_STATUS
        , RESTRICT_START_DATE
        , RESTRICT_END_DATE
        , LOGIN_FAIL_COUNT
        , ACCESS_ACCEPTANCE
        , WITHDRAWAL_ACCEPTANCE
        , MEMBER_CATEGORY_ID
        FROM MEMBERINFO
        WHERE MEMBER_ID = #{ memberId }
    </select>

    <select id="selectMyprofile" resultMap="memberResult" parameterType="_int">
        SELECT
        MEMBER_NAME
        , MEMBER_ID
        , MEMBER_EMAIL
        , MEMBER_ADDR
        , MEMBER_PHONE
        , RESTRICT_START_DATE
        FROM MEMBERINFO
        WHERE MEMBER_ID = #{ memberId }
    </select>

    <select id="memberLogin" resultMap="memberResult" parameterType="map">
        SELECT
        MEMBER_NAME
        , MEMBER_ID
        FROM MEMBERINFO
        WHERE MEMBER_ID = #{ memberId } AND MEMBER_PWD = #{ memberPwd }
    </select>
</mapper>